header{
	/*margin-top:0px;*/
	background-color:black;/*#6262B8*/
	color:white;
	height:100vh;
	margin-bottom:0px;
	background: url(img/pitt.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

header h2{font-size:80px;margin-top:20vh;}

header h4{font-size:40px;text-align: center; margin-bottom:10px;}

header h5{font-size:25px;}

header a{
	/*border: 3px solid white;*/
	padding:20px;
	font-size: 20px;
	/*transition:.5s ease-in-out;*/
}

/*header a:hover{
	background-color:white;
	color:black;
	transition:.5s;
}*/

#btn{
	margin-top:180px;
}

body {
	padding-top:100vh;
}

nav, section {
	position:relative;
}

.nav{
	/*box-shadow: 0px 5px 15px #FF00FF;*/
	background-color:black;
	height:60px;
	/*border-bottom: 1px solid white;*/
	z-index:150;
	box-shadow: 0 1px 15px #FF00FF;
	margin-bottom:-60px;
}

header, .nav-scrolled{
	position:fixed;
  	top:0;
 	width:100%;
}

.container {
    margin: 0 auto;
    max-width: 940px;
    padding: 0 10px;
}

nav ul{
	text-align:center;
	height: 60px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

nav ul li{
	margin-right:40px;
	color: #fff;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    list-style: none;
    padding: 0 10px;
    transition: background .5s;
}

nav li:hover{
	background: #BA02BA;/*#117bff*/
	cursor: pointer; 
	transition: background .5s; 
}

.active{
	color:white;
	background-color:#BA02BA;
	border-bottom:3px solid white;
}

nav a{
	font-size: 15px; 
	font-weight: lighter;
}

section{
	font-size:17px;
	padding:100px;
	color:white;
}

h1,h2,h4,h5,h3,p {
	font-family: 'Roboto', sans-serif;;
}

#bio{
	background-color:black;/*#008A2E*/
	font-size:20px;
}

#bio img{margin-bottom: 5vh; height: 200px; width: auto;}

img{
	height:auto;
	width:125px;
}

#skills{
	background-color:black;
}

#skills p{
	text-align: center;
}

/*.container{
	text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}
.col{
	display:inline;
	float:left;
}*/

#projects{
	background-color:black;/*#CF5353*/
	/*height:40vh;*/
}

#projects h2, #projects h4{
	color:#3CA55C;
}

.card img{
	height:150px;
	width:auto;
	vertical-align:middle;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.card{
	/*border:1px solid black;*/
	/*border-radius:25px;*/
	margin-top:20px;
	margin-bottom:80px;
	/*padding-top:5px;*/
	text-align: center;
	vertical-align: middle;
	display:inline-block;
	height:35vh;
	width:275px;
	border:3px solid #3CA55C;
	/*background-color: #4D4D4D;*/
	transition: .5s ease-in-out;
	-webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
}

.card h2{
	color:#3CA55C;
	transition:.5s ease-in-out;
	-webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
}

.card:hover h2{
	color:white;
	transition:1s;
}

.card:hover{
	background-color:#3CA55C;
	border-top:10px solid white;
	transition:0.5s;
}

#last-proj{
	margin-bottom:0px;
}

#conc{
	height:125px;
	width:100px;
	position:absolute;
	left:50%;
	margin-left:-50px;
}

#hack{
	height:125px;
	width:auto;
	position:absolute;
	left:50%;
	margin-left:-52px;
}

#prizes{
	background-color:black;/*#765680*/
}

.prize-card{
	border:3px solid #3d72b4;
	/*border-radius:25px;*/
	margin:30px;
	text-align: center;
	height:45vh;
	padding:5px;
	/*box-shadow: 5px 5px 5px black;*/
	width:197px;
	position:relative;

	-webkit-user-select: none;
 	-khtml-user-select: none;
 	-moz-user-select: none;
 	user-select: none;

 	transition: .5s ease-in-out;
	-webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
}

.prize-card h2{
	color:#3d72b4;
	transition:.5s ease-in-out;
	-webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
}

.prize-card:hover h2{
	color:white;
	transition:1s;
}

.prize-card:hover{
	background-color:#3d72b4;/*#4D4D4D*/
	/*border-bottom:5px solid white;*/
	border-top:10px solid white;
	transition:.5s;
}

.prize-card img{
	/*margin-right:20px;*/
	height:125px;
    position: absolute;
    bottom: 10px;
    left:50%;
    margin-left: -62.5px;
}

#prize a, a:link {
    text-decoration: none;
    color:white;
}

#prize a,a:visited {
	text-decoration:none;
	color:white;
}

#prize a,a:hover{
	text-decoration:none;
	color:white;
}

#contact{
	background-color:black;/*#4D4D4D*/
}

.contact{
	text-align:center;
	margin-top:50px;
	padding-top:50px;
}

.contact img{
	height:5em;
	width:auto;
	margin-bottom:20px;
	opacity:0.5;
	transition:.5s ease-in-out;
}

.contact img:hover{
	opacity:1;
	transition: .1s;
}

.cd-container {
  width: 90%;
  max-width: 768px;
  margin: 2em auto;
}

/* For the back to top button */

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

.cd-top {
  display: inline-block;
  height: 60px;
  width: 60px;
  position: fixed;
  bottom: 40px;
  right: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(128, 0, 128, 0.8) url(img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #800080;
  opacity: 1;
}