nav{
    background-color: black;
}

nav ul li a{
    color:white;
}

#container{
    background-color:#32936F;
}

#location_picture{
    height:83vh;
    background-image: url("../img/pgh.jpg");
    background-size:100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

#map{
    height:80vh;
    width:80%;
    /*padding-top:10vh;*/
    margin:auto;
    text-align:center;
    padding-bottom:5%;
}

h1, h2{
    font-family: 'Lily Script One', cursive;
    font-size:3em;
}

h2{
    font-size:2em;
}

#map hr{
    margin-top:-1%;
    margin-bottom:2%;
}

#locations{
    height:100vh;
    width:100%;
    margin:auto;
    display:inline-block;
    text-align:center;
    padding-bottom:7%;
}

#shadyside{
    float:left;
    /*border:1px solid black;*/
    width:33%;
}

#downtown{
    float:left;
    /*border:1px solid black;*/
    width:33%;
}

#shadyside img, #downtown img{
    height:300px;
    width:auto;
}

#table{
    width:33%;
    margin:auto;
    padding-bottom:3%;
    float:left;
}

#table table{
    padding
    margin:auto;
    border-collapse:collapse;
    margin-top:15%;
}

#table table, th, td{
    border:1px solid black;
}

#table th, #table td{
    padding:10px;
}

#container-graph{
    width:80%;
    margin:auto;
    margin-top:-20%;
    padding-bottom:10%;
}